/*
Text
Background
Primary
Secondary
Accent (complemento)
*/

:root {
    --shadow: rgba(0, 0, 0, 0.039);

    --primary-color: #f9f9f9;
    --fifth-color: #F2F2F2;
    --sixth-color: #EBEBEB;
    --seventh-color: #DDDDDD;

    --second-color: #ffffff8c;

    --third-color: #349854;

    --fourth-color: #12222a;

    --card-color1: #12222a;
    --card-color2: #f9f9f9;
}

/* 
Light #e4e2dd #5DBA6A
Dark  #2b2b2b #ff89a9 
--shadow: hsla(228, 80%, 4%, 0.1);
*/

/*
graficos.css:
rgba(0, 0, 0, 0.726)

graficos.jsx:
#80808045

comandas.css:
rgba(128, 128, 128, 0.153)

Transacoes.css:
rgba(0, 0, 0, 0.486)
rgba(0, 0, 0, 0.185)

Timeline.css:
#000000

Timeline.jsx:
#fff

SideBar.css:
#ffffff2d
rgba(0, 0, 0, 0.445)

SideBar.jsx:
#E8F7F2
rgba(0,0,0,0.32)

ShortcutsProdutos.jsx:
#f4f4f4

ProductsPrice.jsx:
#fff

ProductEstoque.jsx:
rgb(114,114,114)
#000000

Loading.jsx:
#fff

TransacoesTipos.jsx:
#4CAF77
#FFF
rgba(0, 0, 0, 0.774)
rgba(0, 0, 0, 0.562)
#2e7d32

TotalETC.jsx:
#d32f2f

TotalETC.css:
#2e7d32

ProdutosMetrics.jsx:
#d32f2f

ComandasMetrics.css:
 rgba(0, 0, 0, 0.589)

FormUserSealing.jsx:
#343c4c

FormUser.jsx:
#343c4c

FormUser.css:
#f5f5f5

FormSealing.jsx:
#28292b

FormProdutc.jsx:
#28292b

FormDeleteCategoria.jsx:
#fff

FormDeleteBox.jsx:
#fff

FormComandas.jsx:
#10251d
#fff

FormComandas.css:
rgba(0, 0, 0, 0.192)
#f5f5f5
#343c4c
#945c5c
#5a616d

FilterProduct.jsx:
#28292b
#000

Feedback.css:
#fff
#ff0000
#202124
#d3d3d3

EditarCategoria.jsx:
#fff

CronogramaMetrics.css:
rgba(0, 0, 0, 0.671)
rgba(0, 0, 0, 0.76)

Configuracao.css:
#fff

*/

/*
--shadow: rgba(0, 0, 0, 0.039);
--primary-color: #f9f9f9;
--second-color: #ffffff8c;
--third-color: #349854;
--fourth-color: #12222a;
--card-color1: #12222a;
--card-color2: #f9f9f9;
*/

html,
body,
#root {
    display: flex;
    background-color: var(--third-color);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100dvw;
    height: 100dvh;
}